Task-1

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/tested.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
df['Age'].dtype

dtype('float64')

In [ ]:
df['Fare'].dtype

dtype('float64')

In [ ]:
df['Cabin'].dtype

dtype('O')

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.drop(columns=['Cabin'], inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.replace(["?", "NA", "N/A", ""], np.nan, inplace=True)

In [ ]:
num_cols = df.select_dtypes(include=["int64","float64"]).columns
cat_cols = df.select_dtypes(include=["object"]).columns
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-3743677865.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipython-input-3743677865.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
df = pd.get_dummies(df, drop_first=True)

In [ ]:
df = df.apply(pd.to_numeric)
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abelseth, Miss. Karen Marie","Name_Abelseth, Mr. Olaus Jorgensen","Name_Abrahamsson, Mr. Abraham August Johannes",...,Ticket_STON/O 2. 3101291,Ticket_STON/O2. 3101270,Ticket_STON/OQ. 369943,Ticket_W./C. 14260,Ticket_W./C. 14266,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W.E.P. 5734,Embarked_Q,Embarked_S
0,892,0,3,34.5,0,0,7.8292,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,893,1,3,47.0,1,0,7.0000,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,894,0,2,62.0,0,0,9.6875,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,895,0,3,27.0,0,0,8.6625,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,896,1,3,22.0,1,1,12.2875,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,27.0,0,0,8.0500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
414,1306,1,1,39.0,0,0,108.9000,False,False,False,...,False,False,False,False,False,False,False,False,False,False
415,1307,0,3,38.5,0,0,7.2500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
416,1308,0,3,27.0,0,0,8.0500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
417,1309,0,3,27.0,1,1,22.3583,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna().sum()

PassengerId           0
Survived              0
Pclass                0
Age                   0
SibSp                 0
                     ..
Ticket_W./C. 6607     0
Ticket_W./C. 6608     0
Ticket_W.E.P. 5734    0
Embarked_Q            0
Embarked_S            0
Length: 789, dtype: int64

In [ ]:
scaler = StandardScaler()
df[df.columns] = scaler.fit_transform(df)

In [ ]:
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abelseth, Miss. Karen Marie","Name_Abelseth, Mr. Olaus Jorgensen","Name_Abrahamsson, Mr. Abraham August Johannes",...,Ticket_STON/O 2. 3101291,Ticket_STON/O2. 3101270,Ticket_STON/OQ. 369943,Ticket_W./C. 14260,Ticket_W./C. 14266,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W.E.P. 5734,Embarked_Q,Embarked_S
0,-1.727912,-0.755929,0.873482,0.386231,-0.499470,-0.400248,-0.497413,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,2.843757,-1.350676
1,-1.719625,1.322876,0.873482,1.371370,0.616992,-0.400248,-0.512278,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,0.740370
2,-1.711337,-0.755929,-0.315819,2.553537,-0.499470,-0.400248,-0.464100,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,2.843757,-1.350676
3,-1.703050,-0.755929,0.873482,-0.204852,-0.499470,-0.400248,-0.482475,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,0.740370
4,-1.694763,1.322876,0.873482,-0.598908,0.616992,0.619896,-0.417492,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,0.740370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1.694763,-0.755929,0.873482,-0.204852,-0.499470,-0.400248,-0.493455,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,0.740370
414,1.703050,1.322876,-1.505120,0.740881,-0.499470,-0.400248,1.314435,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,-1.350676
415,1.711337,-0.755929,0.873482,0.701476,-0.499470,-0.400248,-0.507796,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,0.740370
416,1.719625,-0.755929,0.873482,-0.204852,-0.499470,-0.400248,-0.493455,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,0.740370
417,1.727912,-0.755929,0.873482,-0.204852,0.616992,0.619896,-0.236957,-0.04897,-0.04897,-0.04897,...,-0.04897,-0.04897,-0.04897,-0.04897,-0.04897,-0.069338,-0.04897,-0.04897,-0.351647,-1.350676